.App {
  display: flex;
  flex-flow: column;
  text-align: right;
  max-width: 1400px;
  /* background-image: url('https://image.shutterstock.com/image-photo/coffee-stain-isolated-on-white-260nw-408643522.jpg'); */
  background-color: #cdeac0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

}

.header{
  display: grid;
  grid-template-areas: 
  'T S L';
  margin-bottom: 10px;
  max-height: 100px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  font-family: 'Montserrat Alternates', sans-serif;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  color: white;
}

#title {
  text-align: left;
  position: relative;
  font-family: 'Caveat', cursive;
  font-size: 28px;
  line-height: 20px;
  bottom: 5%;
  margin-left: 40px;
}

nav {
  display: inline-block;
  align-content: center;
  position: relative;
  top: 20%;
  left: 25%;
  
}
.links {
  display: inline-flex;
  text-align: center;
  font-family: 'Caveat', cursive;
  padding: 5px;
  text-decoration: none;
  max-width: 150px;
  max-height: 100px;
  background-color: white;
  font-size: 24px;
  font-weight: bold;
  border-right: 1px solid black;
  background-color: transparent;
}

.links:last-child{
  /* top: 10%; */
  border-style: none;
}

div a {
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  color: white;
}

div a:hover {
  text-decoration: underline;
}

div a:active{
  color: #dcab6b;
}

p, blockquote {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
}

blockquote{
  font-size: 20px;
  font-weight: bold;
}

.footer {
  display: block;
  max-height: 100px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  width: 100%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  position: relative;
  top: 70px;
}

.header, 
.footer{
  max-height: 100px;
  background-image: url('https://images.unsplash.com/photo-1529133296346-fce46bd36e9b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


.footer p {
  margin-bottom: 0px;
  color: white;
}

@media screen and (max-width: 700px){
  .links {
    position: relative;
    right: 10%;
  };
}

@media screen and (max-width: 500px) {
  .links {
    position: relative;
    right: 20%;
    font-size: 16px;
  };

  header{
    font-size: 16px;
  }

  .intro {
    position: relative;
    right: 8%;
  }



}


