.coffee-container {
  max-width: 800px;
  display: flex;
  flex-flow: row wrap;
  margin-left: 50px;
  margin-top: 20px;
  padding: 10px;
}

.coffees-intro {
  text-align: center;
}

.button{
  position: relative;
  top: 27%;
}

@media only screen and (max-width: 500px){

  #new {
    border-style: none;
  }
}