.form-container{
  display: grid;
  grid-template-areas: 
  "L I"
  "L I"
  "L I"
  "L I"
  "L I"
  "L I"
  "L I";
  flex-flow: column;
  text-align: left;
  width: 400px;
  height: 400px;
  padding: 10px;
  position: relative;
  left: 30%;
  top: 50px;
  margin-bottom: 20px;
}

label{
  display: inline-block;
  grid-area: L;
  width: 150px;
  margin-left: 5px;
  margin-bottom: 10px;
}

input{
  width: 200px;
  grid-area: I;
}

input:active {
  background-color: #dcab6b;
}

#submit { 
  position: relative;
  left: 20%;
  top: 5%;
}

#submit:hover{
  background-color: #6a381f;
}

select {
  margin-right: 20%;
}

select:active{
  background-color: #dcab6b;
}

option{
  background-color: black;
}

@media screen and (max-width: 500px) {

  .form-container{
    position: relative;
    left: 5%;
    width: 400px;
  }

}

