.intro {
  width: 700px;
  text-align: center;
  margin-top: 5px;
  margin-left: 100px;
}

.methods-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 800px;
  margin-left: 5%;
}

.video {
  position: relative; 
  left: 20%;
  top: 20px;
  display: block;
}

@media only screen and (max-width: 850px) {
  .intro{
    width: 600px;
  }
  .methods-container{
    display: flex;
    width: 600px;
  }
}

@media only screen and (max-width: 700px) {
  .intro{
    width: 500px;
  }
  .methods-container{ 
    flex-flow: column;
    position: relative; 
    left: 25%;
  }

  .video-container{
    width: 600px;
    text-align: center;
  }

  .video {
    width: 450px;
    height: 200px;
    position: relative;
    right: 20px;
  }

  .video-container p{ 
    margin-left: 50px;
  }
}

@media only screen and (max-width: 600px){
  .video-container{
    margin-left: 30px;
  }
}

@media only screen and (max-width: 500px) {
  .video {
    width: 200px;
    height: 200px;
  }
}