.methods {
  width: 200px;
  text-align: center;
  font-style: bold;
  padding: 10px;
  margin-top: 20px;
  margin-left: 30px;
  border: 2px solid black;
}

.method-image{
  width: 170px;
  height: 200px;
  margin-top: 5px;
  border: 2px solid black;
}

.more-trigger{
  margin-bottom: 5px;
}

.video-container{
  text-align: center;
  position: relative;
  margin-top: 5%;
}

@media screen

