.more-info{
  display: grid;
  grid-template-areas: 
  "I T"
  "I T"
  "I T"
  "I T"
  "I T";
  text-align: left;
  margin-left: 10%;
  width: 60%;
  height: 10%;
}

.more-info a {
  color: black;
}

.more-info img {
  grid-area: I;
  justify-self: center;
}

.more-info button {
  width: 40%;
  height: 100%;
  margin-top: 15px;
  margin-left: 10px;
}

.more-info button:hover {
  background-color: #6a381f;
}

.more-info p {
  margin-bottom: 0;
}

.more-info span {
  font-weight: bold;
  margin-left: 10px;
}

@media screen and (max-width: 500px) {
  .more-info{
    grid-template-areas: 
    "I1"
    "I2"
    "I3"
    "I4"
    "I5"
    "B";
  }

  .more-info button {
    grid-area: B;
    width: 50%;
    height: 55%;
    font-size: 12px;
  }


}